@mixin HELPER-stars($height:16px,$max:5,) {
  position: relative;
  width: ($height*$max);
  display: inline-block;
  height: $height;
  &:before {
      background-image: svg-uri('<svg clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" version="1.1" viewBox="0 0 1063 1063" xmlns="http://www.w3.org/2000/svg">  <path fill="#9D9AAB" d="m532 841c-171 0-309-139-309-309 0-171 138-309 309-309 170 0 309 138 309 309 0 170-139 309-309 309zm372-221 159-88-159-89v177zm-744-177-160 89 160 88v-177zm372 620 88-159h-177l89 159zm0-1063-89 160h177l-88-160zm-326 732-50 176 175-50-125-126zm526-526 126 125 50-175-176 50zm-576-50 50 175 125-125-175-50zm576 702 176 50-50-176-126 126z"/></svg>');
      background-repeat: repeat-x;
      background-size: auto 100% ;
      bottom: 0;
      content: "";
      display: block;
      height: $height;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width:100%;
  
  }
  &:after {
    background-repeat: repeat-x;
    background-image:  svg-uri('<svg clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" version="1.1" viewBox="0 0 1063 1063" xmlns="http://www.w3.org/2000/svg">  <path fill="#6b80ab" d="m532 841c-171 0-309-139-309-309 0-171 138-309 309-309 170 0 309 138 309 309 0 170-139 309-309 309zm372-221 159-88-159-89v177zm-744-177-160 89 160 88v-177zm372 620 88-159h-177l89 159zm0-1063-89 160h177l-88-160zm-326 732-50 176 175-50-125-126zm526-526 126 125 50-175-176 50zm-576-50 50 175 125-125-175-50zm576 702 176 50-50-176-126 126z"/></svg>');
    background-size: (($height*$max)/$max);
    content: "";
    display: block;
    width: ($height*$max);
    height: $height;
    position: absolute;
    overflow: hidden;
  }
  @for $i from $max*2 through 0 {
    &[data-rating='#{($max*2 - $i)*0.5}']:after {
     width:($height*$max)*(($max*2 - $i)/($max*2));
    }
  }
}
